<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Data Visualision</title>
    <script src="../static/jquery-3.0.0.min.js"></script>
    <script src="../static/highcharts.js"></script>

</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript" src="../static/datajs.js"></script>
<script>
    $(document).ready(function(){
        $('button').click(function () {
            $("p").hide();
        })
    })


</script>
</body>
</html>